
  

/*   
  .Container {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  
  .Snow {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1; 
  }
  
  .Snowflake {
    display: inline-block;
    width: 0.1%;
 
    color: #FFFAFA;
    opacity: 0;
    font-size: 120px;
    margin: 0;
    padding: 0;
    animation: fall 16s linear infinite;
    z-index: -1;
  }
  
  @keyframes fall {
    0% {
      opacity: 0;
    }
    3% {
      opacity: 0.9;
    }
    90% {
      opacity: 0.9;
    }
    100% {
      transform: translate(0, 97vh);
      opacity: 0;
    }
  }
   */